<html>
    <head></head>
    <body>
        <ul>
          {{#each data}}
              <li> {{amount}} </li>
           {{/each}}
        </ul>
        <form action="/add" method="get">
            <input type="text" name="amount" />
            <button type="submit"> Add </button>
        </form>
    </body>
</html>


